<div class="title">Organisations</div>

<div class="entry">
    <div style="min-width: 138px; text-align: center;">
        <a href="https://is.gd/PKevYW" target="_blank"><img src="/assets/logo/iac.jpg" alt="INSAT ANDROID CLUB Logo"
                width="100" height="100" /></a>
    </div>
    <div class="right">
        <span class="position">Directeur technique</span>
        <span class="organization"><a href="https://is.gd/PKevYW" target="_blank">
                INSAT ANDROID CLUB
            </a></span>
        <span class="description">
            <a href="https://is.gd/PKevYW" target="_blank"><img src="/assets/logo/facebook.png" alt="Facebook Logo"
                    width="25" height="25" style="margin-bottom: 3px;" /></a>
            <a href="https://is.gd/ROw42w" target="_blank"><img src="/assets/logo/instagram.png" alt="Instagram Logo"
                    width="30" height="30" /></a>
            <br>
            Application officielle du club (créée par moi) en 2018 : <a href="https://is.gd/Fq4PAV"
                target="_blank">https://is.gd/Fq4PAV</a>
        </span>
    </div>
</div>

<div class="entry">
    <div style="min-width: 138px; text-align: center;">
        <a href="https://is.gd/PKevYW" target="_blank"><img src="/assets/logo/nitday.png" alt="INSAT ANDROID CLUB Logo"
                width="100" height="100" /></a>
    </div>
    <div class="right">
        <span class="position">Responsable du challenge WEB et mobile</span>
        <span class="organization"><a href="https://is.gd/AE6AeN" target="_blank">
                Journée nationale des technologies de l'information (NIT Day)
            </a></span>
        <span class="description">
            <a href="https://is.gd/AE6AeN" target="_blank"><img src="/assets/logo/facebook.png" alt="Facebook Logo"
                    width="25" height="25" style="margin-bottom: 3px;" /></a>
            <a href="https://is.gd/mqVVMH" target="_blank"><img src="/assets/logo/instagram.png" alt="Instagram Logo"
                    width="30" height="30" /></a>
        </span>
    </div>
</div>