<div id="skills" class="skills">
    <div class="title">Compétences</div>
    <span class="space-title-content"></span>
    <div class="logos">
        <app-image name="angular" extension="png" alt="Angular logo" [widthInPx]="52" [heightInPx]="52"
            [marginTopInPx]="16">
        </app-image>
        <app-image name="angularjs" extension="png" alt="Angular JS logo" [widthInPx]="152" [heightInPx]="55"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="htmlcss" extension="png" alt="HTML/CSS logo" [widthInPx]="86" [heightInPx]="66"
            [marginTopInPx]="6" [marginLeftInPx]="56">
        </app-image>
        <app-image name="javascript" extension="png" alt="JavaScript logo" [widthInPx]="48" [heightInPx]="48"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="typescript" extension="png" alt="TypeScript logo" [widthInPx]="48" [heightInPx]="48"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="jquery" extension="png" alt="JQuery logo" [widthInPx]="78" [heightInPx]="68"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="ng-bootstrap" extension="jpeg" alt="ng bootstrap logo" [widthInPx]="66" [heightInPx]="64"
            [marginTopInPx]="12" [marginLeftInPx]="56">
        </app-image>

        <app-image name="spring" extension="png" alt="Spring logo" [widthInPx]="90" [heightInPx]="50"
            [marginTopInPx]="18" [marginLeftInPx]="56">
        </app-image>
        <app-image name="java" extension="png" alt="Java logo" [widthInPx]="80" [heightInPx]="50" [marginTopInPx]="14"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="azure" extension="png" alt="Azure logo" [widthInPx]="92" [heightInPx]="88" [marginTopInPx]="3"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="nodejs" extension="png" alt="Node JS logo" [widthInPx]="62" [heightInPx]="52"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="graphql" extension="png" alt="GraphQL logo" [widthInPx]="88" [heightInPx]="77"
            [marginTopInPx]="9" [marginLeftInPx]="56">
        </app-image>
        <app-image name="flask" extension="png" alt="Flask logo" [widthInPx]="90" [heightInPx]="50" [marginTopInPx]="16"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="python" extension="png" alt="Python logo" [widthInPx]="90" [heightInPx]="50"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="android" extension="png" alt="Android logo" [widthInPx]="72" [heightInPx]="72"
            [marginTopInPx]="4" [marginLeftInPx]="56">
        </app-image>
        <app-image name="flutter" extension="png" alt="Flutter logo" [widthInPx]="82" [heightInPx]="42"
            [marginTopInPx]="4" [marginLeftInPx]="56">
        </app-image>
        <app-image name="dart" extension="png" alt="Dart logo" [widthInPx]="72" [heightInPx]="72" [marginTopInPx]="4"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="junit" extension="png" alt="JUnit logo" [widthInPx]="80" [heightInPx]="60" [marginTopInPx]="14"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="mockito" extension="png" alt="Mockito logo" [widthInPx]="100" [heightInPx]="60"
            [marginTopInPx]="10" [marginLeftInPx]="56"></app-image>
        <app-image name="jasmine" extension="png" alt="jasmine logo" [widthInPx]="86" [heightInPx]="94"
            [marginTopInPx]="14" [marginLeftInPx]="56">
        </app-image>
        <app-image name="jest" extension="jpg" alt="Jest logo" [widthInPx]="66" [heightInPx]="68" [marginTopInPx]="12"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="mysql" extension="png" alt="MySQL logo" [widthInPx]="90" [heightInPx]="50" [marginTopInPx]="16"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="hibernate" extension="png" alt="Hibernate logo" [widthInPx]="50" [heightInPx]="40"
            [marginTopInPx]="25" [marginLeftInPx]="56">
        </app-image>
        <app-image name="liquibase" extension="jpg" alt="Liquibase logo" [widthInPx]="70" [heightInPx]="50"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="firebase" extension="png" alt="Firebase logo" [widthInPx]="70" [heightInPx]="50"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="mongodb" extension="png" alt="MongoDB logo" [widthInPx]="70" [heightInPx]="50"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="cosmos" extension="png" alt="CosmosDB logo" [widthInPx]="70" [heightInPx]="50"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="uml" extension="png" alt="UML logo" [widthInPx]="90" [heightInPx]="50" [marginTopInPx]="16"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="scrum" extension="png" alt="SCRUM logo" [widthInPx]="70" [heightInPx]="50" [marginTopInPx]="16"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="tensorflow" extension="png" alt="Tensorflow logo" [widthInPx]="60" [heightInPx]="50"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
        <app-image name="keras" extension="png" alt="Keras logo" [widthInPx]="60" [heightInPx]="50" [marginTopInPx]="16"
            [marginLeftInPx]="56">
        </app-image>
        <app-image name="ai" extension="png" alt="Intelligence Artificielle" [widthInPx]="70" [heightInPx]="50"
            [marginTopInPx]="16" [marginLeftInPx]="56">
        </app-image>
    </div>
</div>