<div id="experience" class="experience">
    <div class="title">Expérience</div>
    <span class="space-title-content"></span>
    <div class="content">
        <app-experience logoPath="/assets/images/s.png" company="Saint-Gobain"
            position="Consultant Développeur FullStack JS" period="Depuis Sep 2020">
            En tant que consultant de la société Amayas Consulting je suis en mission
            avec l'entreprise Saint-Gobain pour participer à la création de leurs
            applications <strong>aari customer</strong>, <strong>aari insurer</strong> et <strong>aari
                fitter</strong>.
            Ces 3 applications facilitent la communication entre les clients, les assurances et les garagistes
            dans le processus de réparation des voitures.

            <br>
            <br>
            <span class="app-name">aari insurer : </span>&nbsp;
            L'assureur utilise cette application avec son navigateur pour initier et remplir le dossier de sinistre
            du client, et ensuite soit il termine la saisit de tout le dossier et réserve un
            rendez-vous chez le garagiste pour son client, soit il lui donne la main en envoyant
            un lien d'accès à l'application aari customer à travers un SMS ou un email.

            <br>
            <br>
            <span class="app-name">aari customer : </span>&nbsp;
            Après l'initiation du dossier de sinistre à travers l'assureur, le client peut désormais
            compléter la saisit et réserver son propre rendez-vous à travers cette application mobile.

            <br>
            <br>
            <span class="app-name">aari fitter : </span>&nbsp;
            Quand le rendez-vous de réparation de la voiture est réservé, le garagiste reçoit
            une notification sous forme d'un email afin d'accéder à l'application, il peut voir
            les détails du dossier de sinistre et toutes les pièces défectueuses ainsi leurs prix
            et le coût de réparation totale.
            <br>
            <br>
            <span style="font-weight: bold;">Technologie Frontend : </span>&nbsp; Angular, Angular material, TypeScript,
            Nx,
            HTML, CSS,
            SCSS, Jest
            <br>
            <div class="logos">
                <app-image name="angular" extension="png" alt="Angular logo" [widthInPx]="32" [heightInPx]="32"
                    [marginTopInPx]="16">
                </app-image>
                <app-image name="material" extension="png" alt="Angular material logo" [widthInPx]="28"
                    [heightInPx]="28" [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="typescript" extension="png" alt="TypeScript logo" [widthInPx]="28" [heightInPx]="28"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="nx" extension="png" alt="Nx logo" [widthInPx]="36" [heightInPx]="28"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="htmlcss" extension="png" alt="HTML/CSS logo" [widthInPx]="66" [heightInPx]="46"
                    [marginTopInPx]="6" [marginLeftInPx]="26">
                </app-image>
                <app-image name="jest" extension="jpg" alt="Jest logo" [widthInPx]="46" [heightInPx]="48"
                    [marginTopInPx]="12" [marginLeftInPx]="26">
                </app-image>
            </div>
            <br>
            <span style="font-weight: bold;">Technologie Backend : </span>&nbsp; Microsoft Azure, Node JS, TypeScript,
            Jest, GraphQL, Okta, Twilio, SendGrid
            <br>
            <div class="logos">
                <app-image name="azure" extension="png" alt="Azure logo" [widthInPx]="72" [heightInPx]="68"
                    [marginTopInPx]="3">
                </app-image>
                <app-image name="nodejs" extension="png" alt="Node JS logo" [widthInPx]="42" [heightInPx]="32"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="typescript" extension="png" alt="TypeScript logo" [widthInPx]="28" [heightInPx]="28"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="jest" extension="jpg" alt="Jest logo" [widthInPx]="46" [heightInPx]="48"
                    [marginTopInPx]="12" [marginLeftInPx]="26">
                </app-image>
                <app-image name="graphql" extension="png" alt="GraphQL logo" [widthInPx]="68" [heightInPx]="57"
                    [marginTopInPx]="9" [marginLeftInPx]="26">
                </app-image>
                <app-image name="okta" extension="png" alt="Okta logo" [widthInPx]="56" [heightInPx]="36"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="sendgrid" extension="png" alt="SendGrid logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="twilio" extension="png" alt="Twilio logo" [widthInPx]="50" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
            </div>
        </app-experience>

        <br><br><br>

        <app-experience logoPath="/assets/images/logo.png" company="GetCars" position="Auto-entrepreneur"
            period="Déc 2019 - Aôut 2020">
            Création d'un <strong>Produit Minimum Viable</strong> pour un service de location de voitures en ligne
            destiné
            au marché Tunisien. <br>
            Ce projet permet aux clients de consulter toutes les voitures disponibles des agences
            de location et effectuer une location en ligne.
            <br>
            <br>
            <span style="font-weight: bold;">Technologie Frontend : </span>&nbsp; Angular 7, Angular material,
            TypeScript, HTML, SCSS, Ngx-leaflet, Ng-bootstrap, Karma, Jasmine.
            <br>
            <div class="logos">
                <app-image name="angular" extension="png" alt="Angular logo" [widthInPx]="32" [heightInPx]="32"
                    [marginTopInPx]="16">
                </app-image>
                <app-image name="material" extension="png" alt="Angular material logo" [widthInPx]="28"
                    [heightInPx]="28" [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="typescript" extension="png" alt="TypeScript logo" [widthInPx]="28" [heightInPx]="28"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="htmlcss" extension="png" alt="HTML/CSS logo" [widthInPx]="66" [heightInPx]="46"
                    [marginTopInPx]="6" [marginLeftInPx]="26">
                </app-image>
                <app-image name="leaflet" extension="png" alt="Leaflet logo" [widthInPx]="96" [heightInPx]="74"
                    [marginTopInPx]="2" [marginLeftInPx]="26">
                </app-image>
                <app-image name="ng-bootstrap" extension="jpeg" alt="ng bootstrap logo" [widthInPx]="46"
                    [heightInPx]="44" [marginTopInPx]="12" [marginLeftInPx]="26">
                </app-image>
                <app-image name="karma" extension="png" alt="karma logo" [widthInPx]="46" [heightInPx]="44"
                    [marginTopInPx]="12" [marginLeftInPx]="26">
                </app-image>
                <app-image name="jasmine" extension="png" alt="jasmine logo" [widthInPx]="66" [heightInPx]="74"
                    [marginTopInPx]="4" [marginLeftInPx]="26">
                </app-image>
            </div>
            <br>
            <span style="font-weight: bold;">Technologie Backend : </span>&nbsp; Spring Boot, Java 8, JUnit, Mockito,
            Hibernate, Liquibase, MySQL.
            <br>
            <div class="logos">
                <app-image name="spring" extension="png" alt="Spring logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="18">
                </app-image>
                <app-image name="java" extension="png" alt="Java logo" [widthInPx]="60" [heightInPx]="30"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
                <app-image name="junit" extension="png" alt="JUnit logo" [widthInPx]="60" [heightInPx]="40"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
                <app-image name="mockito" extension="png" alt="Mockito logo" [widthInPx]="80" [heightInPx]="40"
                    [marginTopInPx]="10" [marginLeftInPx]="26">
                </app-image>
                <app-image name="hibernate" extension="png" alt="Hibernate logo" [widthInPx]="30" [heightInPx]="20"
                    [marginTopInPx]="25" [marginLeftInPx]="26">
                </app-image>
                <app-image name="liquibase" extension="jpg" alt="Liquibase logo" [widthInPx]="50" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="mysql" extension="png" alt="MySQL logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
            </div>
        </app-experience>

        <br><br><br>

        <app-experience logoPath="/assets/images/janua.png" company="JANUA"
            position="Stagiaire développeur FullStack (Angular/Spring Boot)" period="Déc 2019 - Aôut 2020">
            Ma mission était de participer à la refonte de l’application <strong><a href="https://www.jaguards.com/"
                    target="_blank">JAGUARDS</a></strong>.<br><br>
            La solution <strong><a href="https://www.jaguards.com/" target="_blank">JAGUARDS</a></strong> gérant les
            risques et les crises est devenue trop coûteuse de point de vue
            maintenance du code en raison de la technologie utilisée (GWT obsolète) et de la conception de
            l'application.<br><br>
            Le projet de sa refonte repose sur les nouvelles technologies (Angular 7, Spring Boot, etc..) et adopte une
            toute nouvelle conception pour enfin élaborer une solution plus performante maintenable et de haute qualité.
            <br>
            <br>
            <span style="font-weight: bold;">Technologie Frontend : </span>&nbsp; Angular 7, Angular material,
            TypeScript, HTML, SCSS, Ngx-leaflet, Ng-bootstrap, Karma, Jasmine.
            <br>
            <div class="logos">
                <app-image name="angular" extension="png" alt="Angular logo" [widthInPx]="32" [heightInPx]="32"
                    [marginTopInPx]="16">
                </app-image>
                <app-image name="material" extension="png" alt="Angular material logo" [widthInPx]="28"
                    [heightInPx]="28" [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="typescript" extension="png" alt="TypeScript logo" [widthInPx]="28" [heightInPx]="28"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="htmlcss" extension="png" alt="HTML/CSS logo" [widthInPx]="66" [heightInPx]="46"
                    [marginTopInPx]="6" [marginLeftInPx]="26">
                </app-image>
                <app-image name="karma" extension="png" alt="karma logo" [widthInPx]="46" [heightInPx]="44"
                    [marginTopInPx]="12" [marginLeftInPx]="26">
                </app-image>
                <app-image name="jasmine" extension="png" alt="jasmine logo" [widthInPx]="66" [heightInPx]="74"
                    [marginTopInPx]="4" [marginLeftInPx]="26">
                </app-image>
            </div>
            <br>
            <span style="font-weight: bold;">Technologie Backend : </span>&nbsp; Spring Boot, Java 8, JUnit, Mockito,
            Hibernate, Liquibase, MySQL.
            <br>
            <div class="logos">
                <app-image name="spring" extension="png" alt="Spring logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="18">
                </app-image>
                <app-image name="java" extension="png" alt="Java logo" [widthInPx]="60" [heightInPx]="30"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
                <app-image name="junit" extension="png" alt="JUnit logo" [widthInPx]="60" [heightInPx]="40"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
                <app-image name="mockito" extension="png" alt="Mockito logo" [widthInPx]="80" [heightInPx]="40"
                    [marginTopInPx]="10" [marginLeftInPx]="26">
                </app-image>
                <app-image name="hibernate" extension="png" alt="Hibernate logo" [widthInPx]="30" [heightInPx]="20"
                    [marginTopInPx]="25" [marginLeftInPx]="26">
                </app-image>
                <app-image name="liquibase" extension="jpg" alt="Liquibase logo" [widthInPx]="50" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="mysql" extension="png" alt="MySQL logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
            </div>
        </app-experience>

        <br><br><br>

        <app-experience logoPath="/assets/images/gfi.jpg" company="GFI Tunisie"
            position="Stagiaire développeur FullStack (Angular/Spring Boot)" period="Juin - Juillet 2018">
            La procédure du remboursement médical aux employés nécessite le remplissage de plusieurs formulaires et un
            stockage d'une quantité énorme de papiers au sein de l'administration.
            <br><br>
            Le but du projet est de digitaliser tout le processus pour offrir aux employés une plateforme simple afin de
            faire les demandes de remboursement en ligne et d'éliminer la paperasse afin de faciliter le stockage, la
            recherche et l'envoi des informations.
            <br>
            <br>
            <span style="font-weight: bold;">Technologie Frontend : </span>&nbsp; Angular 7, Angular material,
            TypeScript, HTML, SCSS, Ngx-leaflet, Ng-bootstrap, Karma, Jasmine.
            <br>
            <div class="logos">
                <app-image name="angular" extension="png" alt="Angular logo" [widthInPx]="32" [heightInPx]="32"
                    [marginTopInPx]="16">
                </app-image>
                <app-image name="typescript" extension="png" alt="TypeScript logo" [widthInPx]="28" [heightInPx]="28"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="htmlcss" extension="png" alt="HTML/CSS logo" [widthInPx]="66" [heightInPx]="46"
                    [marginTopInPx]="6" [marginLeftInPx]="26">
                </app-image>
                <app-image name="ng-bootstrap" extension="jpeg" alt="ng bootstrap logo" [widthInPx]="46"
                    [heightInPx]="44" [marginTopInPx]="12" [marginLeftInPx]="26">
                </app-image>
            </div>
            <br>
            <span style="font-weight: bold;">Technologie Backend : </span>&nbsp; Spring Boot, Java 8, JUnit, Mockito,
            Hibernate, Liquibase, MySQL.
            <br>
            <div class="logos">
                <app-image name="spring" extension="png" alt="Spring logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="18">
                </app-image>
                <app-image name="java" extension="png" alt="Java logo" [widthInPx]="60" [heightInPx]="30"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
                <app-image name="junit" extension="png" alt="JUnit logo" [widthInPx]="60" [heightInPx]="40"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
                <app-image name="hibernate" extension="png" alt="Hibernate logo" [widthInPx]="30" [heightInPx]="20"
                    [marginTopInPx]="25" [marginLeftInPx]="26">
                </app-image>
                <app-image name="mysql" extension="png" alt="MySQL logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
            </div>
        </app-experience>

        <br><br><br>

        <app-experience logoPath="/assets/images/ttn.png" company="Tunisie TradeNet"
            position="Stagiaire développeur FullStack (AngularJS/Spring Boot)" period="Juin 2017">
            Développement et mise en place d’une application web pour sécuriser et centraliser l’accès aux équipements
            réseaux.
            <br>
            <br>
            <span style="font-weight: bold;">Technologie Frontend : </span>&nbsp; Angular 7, Angular material,
            TypeScript, HTML, SCSS, Ngx-leaflet, Ng-bootstrap, Karma, Jasmine.
            <br>
            <div class="logos">
                <app-image name="angularjs" extension="png" alt="Angular JS logo" [widthInPx]="82" [heightInPx]="32"
                    [marginTopInPx]="16">
                </app-image>
                <app-image name="javascript" extension="png" alt="JavaScript logo" [widthInPx]="28" [heightInPx]="28"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="jquery" extension="png" alt="JQuery logo" [widthInPx]="58" [heightInPx]="48"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
                <app-image name="htmlcss" extension="png" alt="HTML/CSS logo" [widthInPx]="66" [heightInPx]="46"
                    [marginTopInPx]="6" [marginLeftInPx]="26">
                </app-image>
                <app-image name="ng-bootstrap" extension="jpeg" alt="ng bootstrap logo" [widthInPx]="46"
                    [heightInPx]="44" [marginTopInPx]="12" [marginLeftInPx]="26">
                </app-image>
            </div>
            <br>
            <span style="font-weight: bold;">Technologie Backend : </span>&nbsp; Spring Boot, Java 8, JUnit, Mockito,
            Hibernate, Liquibase, MySQL.
            <br>
            <div class="logos">
                <app-image name="spring" extension="png" alt="Spring logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="18">
                </app-image>
                <app-image name="java" extension="png" alt="Java logo" [widthInPx]="60" [heightInPx]="30"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
                <app-image name="mysql" extension="png" alt="MySQL logo" [widthInPx]="70" [heightInPx]="30"
                    [marginTopInPx]="16" [marginLeftInPx]="26">
                </app-image>
            </div>
        </app-experience>

        <br><br><br>

        <app-experience logoPath="/assets/images/getwireless.png" company="GET WIRELESS"
            position="Stagiaire développeur Android" period="Juin 2016">
            Développement d'une application Android pour mesurer la qualité des services réseau mobile pour un opérateur
            local.
            <br>
            <br>
            <span style="font-weight: bold;">Technologies </span>&nbsp; Angular 7, Angular material,
            TypeScript, HTML, SCSS, Ngx-leaflet, Ng-bootstrap, Karma, Jasmine.
            <br>
            <div class="logos">
                <app-image name="android" extension="png" alt="Android logo" [widthInPx]="52" [heightInPx]="52"
                    [marginTopInPx]="4">
                </app-image>
                <app-image name="java" extension="png" alt="Java logo" [widthInPx]="60" [heightInPx]="30"
                    [marginTopInPx]="14" [marginLeftInPx]="26">
                </app-image>
            </div>
        </app-experience>
    </div>
</div>