<div id="education" class="education">
    <div class="title">Formation</div>
    <div class="entry">
        <div style="min-width: 138px; text-align: center;">
            <a href="http://www.insat.rnu.tn/" target="_blank"><img src="/assets/logo/insat.jpg" alt="INSAT Logo"
                    width="100" height="50" /></a>
        </div>
        <div class="right">
            <span class="position">Ingénieur informatique</span>
            <span class="school"><a href="http://www.insat.rnu.tn/" target="_blank">Institut national des sciences
                    appliquées et de technologie (INSAT)</a></span>
            <span class="description">
                <strong>Quelques cours : </strong> Spring, Angular, .Net, Java, Python, JavaScript,
                TypeScript, C\#, C/C++, Android, Algorithmique, Informatique, Mathématique, Physique, Optimisation, Data
                science, Machine Learning, Deep Learning, Intelligence Artificielle, Réseaux informatique,
                Télécommunication, Sécurité informatique, UML, Design Pattern, Conception.
            </span>
        </div>
    </div>

    <br><br>

    <div class="entry">
        <div style="min-width: 138px; text-align: center;">
            <img src="/assets/images/graduation-hat.jpg" alt="Graduation Hat" width="60" height="60" />
        </div>
        <div class="right">
            <span class="position">Baccalauréat en science de l'informatique</span>
            <span class="school">Lycée Monfleury Tunis</span>
            <span class="description">
                <strong>Quelques cours : </strong> PHP, JavaScript, HTML, CSS, Turbo Pascal, ActionScript,
                Algorithmique, Informatique, Mathématique, Physique.
            </span>
        </div>
    </div>
</div>