<div class="left">
    <img [src]="logoPath" alt="logo de la société" />
</div>

<span class="space"></span>

<div class="right">
    <div class="position">
        <span>{{position}}</span>
        <span class="period">{{period}}</span>
        <span style="flex: 1 1 auto;"></span>
        <button mat-raised-button [color]="showDescription ? 'primary' : 'secondary'"
            (click)="changeDisplayState()">{{showDescription ? 'Cacher' :
            'Afficher'}}</button>
    </div>
    <div class="company">{{company}}</div>
    <div class="description" *ngIf="showDescription">
        <ng-content></ng-content>
    </div>
</div>