<mat-toolbar id="toolbar">
    <div class="github">
        <a href="https://is.gd/nxttwy" target="_blank">
            <img src="/assets/logo/github.jpg" alt="Github Logo" width="40" height="40" />
        </a>
        <a href="https://is.gd/nxttwy" target="_blank">Github</a>
    </div>
    <span style="flex: 1 1 auto"></span>
    <div class="menu">
        <div (click)="onHomeClick()">Accueil</div>
        <div (click)="onExperienceClick()">Experience</div>
        <div (click)="onEducationClick()">Formation</div>
        <div (click)="onSkillsClick()">Compétences</div>
        <div (click)="onCertificationsClick()">Certifications</div>
    </div>
</mat-toolbar>

<div class="ghazi">
    <div class="content">
        <img src="/assets/images/ghazi.png" />
        <div class="name">Ghazi Nehdi</div>
        <div class="position">Ingénieur Développeur FullStack</div>
        <button mat-raised-button color="primary">Télécharger le CV</button>
    </div>
</div>

<app-experience-section></app-experience-section>

<app-education-section></app-education-section>

<app-skills-section></app-skills-section>

<app-certifications-section></app-certifications-section>

<app-organizations-section></app-organizations-section>