@import "./material-ui/fonts.scss";

$primary-color: #c2185b;

:host {
  margin: 0;
  padding: 0;
  font-family: $font-family-default;
  font-size: $font-size-default;
  overflow-x: hidden !important;

  mat-toolbar {
    position: fixed;
    top: 0px;
    z-index: 99999;
    color: black;
    background-color: white;
    box-shadow: 1px 2px;

    .github {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $font-size-small;
      a {
        margin-left: 9px;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      font-family: $font-family-default;
      font-size: $font-size-small;
      justify-content: space-between;

      div {
        cursor: pointer;
        width: 150px;
        height: 100%;
        text-align: center;
      }

      div:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }

  .ghazi {
    background-image: url("/assets/images/background.PNG");
    width: 100%;
    min-height: 89vh;
    margin-top: 30px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba($color: #000000, $alpha: 0.7);
      width: 100%;
      min-height: 89vh;
      color: white;

      img {
        margin-top: 52px;
        border-radius: 50%;
        height: 140px;
        width: 130px;
      }

      .name {
        margin-top: 16px;
        text-align: center;
        width: 100%;
        font-family: $font-family-title;
        font-size: $font-size-title;
        font-weight: 500;
      }

      .position {
        margin-top: 36px;
        text-align: center;
        width: 100%;
        font-family: $font-family-title-demi-bold;
        font-size: $font-size-section-title;
        font-weight: 400;
      }

      button {
        margin-top: 36px;
      }
    }
  }

  .title {
    font-family: $font-family-title-demi-bold;
    font-size: $font-size-title;
    width: 200px;
  }

  .space-title-content {
    min-height: 40px;
  }

  .experience {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 32px 16px;
    max-width: 100%;

    .content {
      width: 100%;

      app-experience {
        .app-name {
          font-weight: 600;
          color: $primary-color;
        }

        .logos {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }
  }

  .education {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 16px 16px 32px 16px;
    background-color: $primary-color;
    color: white;
    min-height: 100px;

    .entry {
      margin-top: 32px;
      display: flex;
      flex-direction: row;

      img {
        margin-right: 40px;
      }

      .right {
        display: flex;
        flex-direction: column;

        strong {
          color: #0ff7ff;
        }

        .position {
          font-family: $font-family-title-demi-bold;
          font-size: $font-size-section-title;
        }

        .school {
          margin-top: 9px;
          font-family: $font-family-default;
          font-size: $font-size-default;

          a {
            color: whitesmoke;
            text-decoration: none;
          }
        }

        .description {
          margin-top: 9px;
          font-family: $font-family-default;
          font-size: $font-size-small;
        }
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 32px 16px;

    .logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      flex-wrap: wrap;
    }
  }
}
