<div id="certifications" class="certifications">
    <div class="title">Certifications</div>
    <div class="cards">
        <mat-card (click)="onJavaCertificateClick()">
            <div style="width: 100%; text-align: center"><img src="/assets/logo/java.png" width="200" height="160" />
            </div>

            <div class="title">TestDome Java certificate</div>

            <div class="date">
                <mat-chip-list>
                    <mat-chip color="primary">Janvier 2020</mat-chip>
                    <mat-chip color="secondary">TestDome</mat-chip>
                    <mat-chip color="secondary">Java</mat-chip>
                </mat-chip-list>
            </div>

            <span style="flex: 1 1 auto"></span>
            <div style="width: 100%; text-align: center">
                <img src="/assets/logo/testdome.png" alt="TesDome Logo" width="90" height="90" />
            </div>
        </mat-card>
        <span class="space"></span>
        <mat-card (click)="onAngularCertificateClick()">
            <div style="width: 100%; text-align: center"><img src="/assets/logo/angular.png" width="200" height="160" />
            </div>

            <div class="title">TestDome Angular certificate</div>

            <div class="date">
                <mat-chip-list>
                    <mat-chip color="primary">Avril 2020</mat-chip>
                    <mat-chip color="secondary">TestDome</mat-chip>
                    <mat-chip color="secondary">Angular</mat-chip>
                </mat-chip-list>
            </div>

            <span style="flex: 1 1 auto"></span>
            <div style="width: 100%; text-align: center">
                <img src="/assets/logo/testdome.png" alt="TesDome Logo" width="90" height="90" />
            </div>
        </mat-card>
    </div>
</div>